<span style="color: red; font-weight: bold;">{{ title }} Esta aplicación se está ejecutando!</span> <br>
<span>Saludo: {{saludo}}</span>

<app-empleados></app-empleados>

<!-- Property Binding -->
<button [disabled]="isUnchanged">Disabled Button</button><br>

<!-- Event Binding -->
<ul>
    <li (click)="selectHero(hero)" *ngFor="let hero of heroes">{{hero.name}}</li>
</ul>

<p>Héroe seleccionado: {{selectedHero}}</p>

<!-- Two way Binding -->
<input [(ngModel)]="hero.name">
<p>Nombre del héroe: {{hero.name}}</p>